# Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.sqlite3
*.db
.env/
venv/
.venv/

# OS / IDE files
.DS_Store
.idea/
.vscode/

# Data and models
data/
!data/README.md
rec_models/
!rec_models/sample_model_info.txt

# Logs & outputs
logs/
outputs/
*.log
